@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  75% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  75% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* BASIC RESET, NORMALIZE COULD BE USED BUT NOT REALLY NEEDED */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* NOW EVERY ELEMENT ON THE PAGE BY DEFAULT WILL INHERIT BOX-SIZING: BORDER-BOX (SPECIFIED IN BODY) */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* GLOBAL SETTINGS FOR RESPONSIVENESS, IT'S BETTER TO USE 10PX AS DEFAULT NOT 16 */
html {
  /* 10px IS NOT GOOD SOLUTION DUE FACT THAT SOME USERS HAVE PERSONAL SETTINGS FOR EXAMPLE IF SB HAS PROBLEM WITH EYES AND USER BIGGER DEFAULT FONT-SIZE */
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* FONTS SETTING HERE, NOT IN * CUZ THEY ARE INHERITED */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* FIX TO ANIMATION, WITH IT OBJECT DOESN'T MOVE TO TOP AT THE END OF ANIMATION, PROBABLY NO LONGER NEED AS TODAY */
  /* backface-visibility: hidden; */
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft 1s 0.3s;
          animation: moveInLeft 1s 0.3s;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1.2s 0.3s;
          animation: moveInRight 1.2s 0.3s;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.08s;
  transition: all 0.08s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.26);
          box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.26);
}

.btn:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  -webkit-animation: moveInBottom 1s ease-out 2.3s;
          animation: moveInBottom 1s ease-out 2.3s;
  /* setting from keyframe 0% won't applied before starting animation, so in this case button at the beginning wont be visible and after delay animations start */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* AA 4CHROME */
  -webkit-backface-visibility: hidden;
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
/*# sourceMappingURL=main.css.map */