/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* BASIC RESET, NORMALIZE COULD BE USED BUT NOT REALLY NEEDED */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* NOW EVERY ELEMENT ON THE PAGE BY DEFAULT WILL INHERIT BOX-SIZING: BORDER-BOX (SPECIFIED IN BODY) */
  box-sizing: inherit;
}

/* GLOBAL SETTINGS FOR RESPONSIVENESS, IT'S BETTER TO USE 10PX AS DEFAULT NOT 16 */
html {
  /* 10px IS NOT GOOD SOLUTION DUE FACT THAT SOME USERS HAVE PERSONAL SETTINGS FOR EXAMPLE IF SB HAS PROBLEM WITH EYES AND USESE BIGGER DEFAULT FONT-SIZE */
  font-size: 62.5%;
}

/* FONTS SETTING HERE, NOT IN * CUZ THEY ARE INHERITED */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* AA 4CHROME */
  -webkit-backface-visibility: hidden;
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  /* FIX TO ANIMATION, WITH IT OBJECT DOESN'T MOVE TO TOP AT THE END OF ANIMATION, PROBABLY NO LONGER NEED AS TODAY */
  /* backface-visibility: hidden; */
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s 0.3s;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1.2s 0.3s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  75% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.08s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.26);
}

.btn:active {
  transform: translateY(0.2rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 1s ease-out 2.3s;
  /* setting from keyframe 0% won't applied before starting animation, so in this case button at the beginning wont be visible and after delay animations start */
  animation-fill-mode: backwards;
}
