/* BASIC RESET, NORMALIZE COULD BE USED BUT NOT REALLY NEEDED */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* NOW EVERY ELEMENT ON THE PAGE BY DEFAULT WILL INHERIT BOX-SIZING: BORDER-BOX (SPECIFIED IN BODY) */
  box-sizing: inherit;
}

/* GLOBAL SETTINGS FOR RESPONSIVENESS, IT'S BETTER TO USE 10PX AS DEFAULT NOT 16 */
html {
  /* 10px IS NOT GOOD SOLUTION DUE FACT THAT SOME USERS HAVE PERSONAL SETTINGS FOR EXAMPLE IF SB HAS PROBLEM WITH EYES AND USER BIGGER DEFAULT FONT-SIZE */
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  //It makes use of a different kind of media query. It does not use max-width, but min-width, and above our other breakpoints, and so does not interfere with the rest of our queries.
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
