/* BASIC RESET, NORMALIZE COULD BE USED BUT NOT REALLY NEEDED */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* NOW EVERY ELEMENT ON THE PAGE BY DEFAULT WILL INHERIT BOX-SIZING: BORDER-BOX (SPECIFIED IN BODY) */
  box-sizing: inherit;
}

/* GLOBAL SETTINGS FOR RESPONSIVENESS, IT'S BETTER TO USE 10PX AS DEFAULT NOT 16 */
html {
  /* 10px IS NOT GOOD SOLUTION DUE FACT THAT SOME USERS HAVE PERSONAL SETTINGS FOR EXAMPLE IF SB HAS PROBLEM WITH EYES AND USER BIGGER DEFAULT FONT-SIZE */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
